# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for data science
- List popular libraries for data science
- Getting to know Python and the work environment in

Some of the popular languages that Data Scientists use are:
1. MATLAB
2. SQL
3. Python 
4. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. TensorFlow
3. ggplot2

| Data Science Tools |
| ------------------ |
| JupyterNotebook |
| Rstudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author 
Leopold Freundorfer